[submodule "public"]
	path = public
	url = git@github.com:fragworks/fragworks.github.io
	branch = master
[submodule "--force"]
	path = --force
	url = git@github.com:fragworks/fragworks.github.io
	branch = master
